body{
    background-color: #000;
}
main{
    margin: 35px auto;
    width: 900px;
    height: 600px;
    background-color: aliceblue;
    border-radius: 1%;
    padding: 1%;
}
h1{
    text-align: center;
}
#escopo{
    border: 1px solid #000;
    width: 400px;
    height: 400px;
    margin: 9% auto;
}